<section class="about-page">
	<div class="container">
		<h2>Who We Are</h2>
			<p>
			  Kratos defined- is the personification of strength and power in Greek mythology.  That is our roots here at Kratos, we have an "Old School" mentality of training combined with the newest research to deliver a top notch product.  Our staff has over 10 years of combined collegiate strength and conditioning experience under some of the best coaches around the country.  We have our very own registered dietician, who will is available to meet with anybody who is interested.  We want to work with everybody who wants to better themselves; whether that be the next star collegiate athlete, one of Lincoln's real hero's (Military, Police, Firefighters, EMT's), or somebody who wants to shed a few pounds.
			</p>
			<p><%=link_to 'home', root_path %></p>
	</div>

</section>