<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Kratos Performance Fitness</title>
  <meta name="Nebraska Certified Strength and Fitness" content="">
  <meta name="Mark Hustad" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css"> -->

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
 <%= render 'shared/header' %>
<body>


  <section class="section-trainers js--section-trainers">
    <center><h2>Meet Our Trainers</h2></center>
    <div class="container">
      <div class="row trainer-row">
        <div class="six columns">
        <div class="cody-pic"></div>
            <p class="trainer-cody">
                Cody Anthony (Co-Owner, Strength Coach)- Cody graduated from the University of Nebraska-Kearney with a BS in Exercise Science. While at Kearney, Cody played football for the Lopers, where he was the starting fullback, and three time Academic All-Conference. After graduating from UNK Cody volunteered as a strength coach for UNK's athletic programs. After a summer at UNK, Cody moved to Lincoln to volunteer as a strength coach for the University of Nebraska's Men's Basketball team. Cody holds his CSCS through the National Strength & Conditioning Association, as well as his USAW-L1SP through USA Weightlifting. During Cody's 3 years of working with collegiate athletes, he has worked with football, basketball, swimming/diving, volleyball, and wrestling. Cody has been married for 2 years to his wife Katie, and has beautiful, twin, 18 month old daughters (Skylar and Kenley.)
            </p>
        </div>
        <div class="six columns">
        <div class="jacob-pic"></div>
            <p class="trainer-jacob">
              Jacob Mertens (Co-Owner, Strength Coach, Registered Dietician)- Jacob graduated from Peru State College with a BS in Sports Management and Exercise Science. While at Peru State, Jacob was also part of the football team were he was voted a team captain, a four-year starter, two time Academic All-American and All-Conference linebacker. Jacob then received his MS in Sports Science and Coach while working as a Graduate Assistant Strength and Conditioning Coach for the University of Akron football team. Jacob also went to school at the University of Nebraska for nutrition and will sit for his Registered Dietitians exam this fall. Jacob also holds his CSCS through the NSCA. In total, Jacob has worked over 5 years as a collegiate strength and conditioning coach. His working experience includes the University of Idaho, University of Washington, Peru State College, Iowa State University, Monmouth University, University of Akron, University of Nebraska, University of Oregon, and the University of Alabama. During these working experience, Jacob has worked with athletes in a variety of sports including football, basketball, track, cross country, volleyball, soccer, crew, bowling, softball, baseball, field hockey, and lacrosse.
            </p>
        </div>
      </div>
 </div>
        <div class="centering trainer-centering">
          <a class="button button-primary consult-button-train" href="#">Click here for a free training session</a>
        </div>
</section>

  <section class="section-about js--section-about">
  <div class="container">
      <div class="row">
        <div class="twelve columns
         about-us">
        <div class="about js--about">
            <h3 class="about-title">Who We Are</h3>
            <p>
              Kratos defined- is the personification of strength and power in Greek mythology.  That is our roots here at Kratos, we have an "Old School" mentality of training combined with the newest research to deliver a top notch product.  Our staff has over 10 years of combined collegiate strength and conditioning experience under some of the best coaches around the country.  We have our very own registered dietician, who will is available to meet with anybody who is interested.  We want to work with everybody who wants to better themselves; whether that be the next star collegiate athlete, one of Lincoln's real hero's (Military, Police, Firefighters, EMT's), or somebody who wants to shed a few pounds.
               <br><%=link_to 'learn more', about_path, class: 'learn-more' %>
            </p>
        </div>    
        <div>
      </div>
  </div>
</section>

<div class="section-facilities">
  <div class="facilities">
    <h2>Amenities</h2>
      <p class="paragraph-facilities">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div class="facilities-2">
    <h2>Cardio</h2>
      <p class="paragraph-facilities">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam.</p>
  </div>
  <div class="facilities-3">
    <h2>More Cardio</h2>
      <p class="paragraph-facilities">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam.</p>
  </div>
</div>

<section class="section-services js--section-services">
  <div class="container">
    <center><h2>Nutrition</h2></center>
      <div class="row">
        <div class="twelve columns js--service-col">
            <h4 class="diet-title">Custom Diets</h4>
            <p class="nutrition-paragraph">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices tellus. Proin sit amet aliquet orci, in scelerisque risus. Aenean placerat bibendum ex quis pharetra. Aliquam erat volutpat. Mauris tempor ex sed eleifend ultricies. Proin gravida mauris quis odio porttitor, et vulputate lorem pulvinar. Nam sed tortor felis. Cras sit amet scelerisque tellus.
            </p>
        </div>
      </div>
  </div>
        <div class="centering">
          <a class="button button-primary consult-button" href="#">Get a consultation</a>
        </div>
</section>

<section class="section-packages js--section-packages">
  <div class="container">
  <h2>Personal Training</h2>
  <div class="centering personal-packages">
    <button class="button" value="toggle" id="toggle">View Training Packages</button>
  </div>
  <div class="expand">
      <div class="row">
        <div class="six columns">
            <table class="pricing-table make-it-slow">
              <thead>
              <th class="package-header" colspan="2">Packages</th>
                <tr>
                  <th>Number of sessions</th>
                  <th>Price per session</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>$75.00</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>$62.50</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>$60.00</td>
                </tr>
                <tr>
                  <td>25</td>
                  <td>$55.00</td>
                </tr>
                <tr>
                  <td>50</td>
                  <td>$50.00</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="six columns">
            <table class="pricing-table make-it-slow">
              <thead>
              <th class="package-header" colspan="2">EFT</th>
                <tr>
                  <th>Sessions per week</th>
                  <th>Price per session</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>$60.00</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>$57.50</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>$55.00</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>$52.50</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>$50.00</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      <div class="row">
        <div class="six columns">
            <table class="pricing-table make-it-slow">
              <thead>
              <th class="package-header" colspan="2">Packages</th>
              </thead>
                <tr>
                  <th>Number of sessions</th>
                  <th>Price per session</th>
                </tr>
              
              <tbody>
                <tr>
                  <td>1</td>
                  <td>$50.00</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>$37.50</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>$35.00</td>
                </tr>
                <tr>
                  <td>25</td>
                  <td>$32.50</td>
                </tr>
                <tr>
                  <td>50</td>
                  <td>$30.00</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="six columns">
            <table class="pricing-table make-it-slow">
              <thead>
              <th class="package-header" colspan="2">EFT</th>
                <tr>
                  <th>Sessions per week</th>
                  <th>Price per session</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>$37.50</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>$35.00</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>$32.50</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>$30.00</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>$27.50</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      </div>
  </div>
</section>

<%= render 'shared/footer' %>

</body>
</html>
