<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Your page title here :)</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css"> -->

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <header>
    <nav>
      <div class="container">
          <ul class="main-nav js--main-nav">
              <li><a href="#about" class="js--scroll-to-author">About</a></li>
              <li><a href="#programs" class="js--scroll-to-contact">Programs</a></li>
              <li><a href="#nutrition" class="js--scroll-to-main-nav">Nutrition</a></li>
              <li><a href="#coaches" class="js--scroll-to-fan-pics">Coaches &amp; Trainers</a></li>
              <li><a href="#contact" class="js--scroll-to-book">Contact</a></li>
          </ul>
          <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon"></i></a>
      </div>
    </nav>
    <div class="container">
    <center>
      <h2>Nebraska Certified Strength &amp; Fitness</h2>
        <p>Sub paragraph description of site</p>
        <a class="button button-primary sign-up" href="#">Sign Up for Free</a>
    </div>
    </center>
  </header>

  <section class="section-second js--section-second">
    <h2>Test Title</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lacinia interdum mattis. Nullam non eros vel ligula lobortis vulputate eget eu justo. Praesent a sem at nisi gravida hendrerit non ac urna. Nunc malesuada id tortor a mattis. Vivamus dapibus lorem ultrices justo ullamcorper, ut cursus nulla hendrerit. Sed fermentum eu arcu eget euismod. Suspendisse potenti. Ut fringilla et quam vel tristique. Curabitur at libero vitae ligula viverra laoreet vel nec leo. Praesent eu elementum est. Etiam ornare nunc placerat eros hendrerit, ac maximus ex aliquam. Pellentesque pellentesque justo nisi, in pharetra arcu mattis ac. Donec pulvinar venenatis accumsan.

Pellentesque ut lobortis lacus, eget sollicitudin nisi. Donec a odio ac metus gravida feugiat eu eget diam. Maecenas commodo mi non magna condimentum, quis bibendum lacus pharetra. Aliquam erat volutpat. Nulla sit amet ligula nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer commodo dapibus diam viverra semper. Vivamus id nunc vel risus fermentum ultrices sagittis at augue. Donec eget elementum nunc. Nam fermentum ligula ac lectus ornare tincidunt.

Nullam sed imperdiet neque. Proin pulvinar, tellus in volutpat egestas, libero ante pellentesque erat, eu elementum ipsum risus in velit. Fusce sed nulla quis ligula dapibus tristique vel eget mauris. Fusce vehicula ac tortor sed accumsan. Duis fermentum tincidunt libero eget suscipit. Duis iaculis lacinia justo. Proin in condimentum nibh. Integer viverra sed diam id posuere. Aenean gravida sit amet est et finibus. Vestibulum maximus molestie mauris eget pellentesque. Proin aliquet lectus aliquam aliquet ullamcorper.

Donec egestas massa vitae lectus euismod, eget dictum tellus sodales. Cras ornare sagittis congue. Vestibulum sed consequat tortor. Aenean malesuada, nibh eu fermentum commodo, neque odio volutpat ipsum, sit amet fringilla ipsum nunc a magna. Cras mollis arcu non imperdiet suscipit. Aenean semper varius eros, sed facilisis lorem aliquam sit amet. Praesent finibus mauris in erat consequat, ut tempus purus eleifend. Praesent accumsan odio quis ullamcorper commodo.

Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin aliquet ligula nec sapien interdum rhoncus. Phasellus vitae tincidunt tortor. Nunc bibendum, augue eu elementum cursus, urna justo commodo justo, nec consectetur libero nulla sit amet turpis. Aenean feugiat vehicula felis vel iaculis. Donec non suscipit lectus, ac placerat neque. Cras scelerisque leo vitae facilisis blandit. Nullam consectetur posuere placerat. Sed auctor in ligula ac placerat. Mauris ornare faucibus turpis, sit amet eleifend purus ultrices ac. Nunc non congue mauris. Praesent gravida enim sed ornare pulvinar. Fusce interdum a turpis sit amet mollis. Quisque a massa eu turpis iaculis dignissim vehicula vel magna. Nullam lorem dolor, lobortis eget sodales id, fringilla vitae odio.</p>
  </section>

  <section class="section-third js--section-third">
    <h2>Test Title</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lacinia interdum mattis. Nullam non eros vel ligula lobortis vulputate eget eu justo. Praesent a sem at nisi gravida hendrerit non ac urna. Nunc malesuada id tortor a mattis. Vivamus dapibus lorem ultrices justo ullamcorper, ut cursus nulla hendrerit. Sed fermentum eu arcu eget euismod. Suspendisse potenti. Ut fringilla et quam vel tristique. Curabitur at libero vitae ligula viverra laoreet vel nec leo. Praesent eu elementum est. Etiam ornare nunc placerat eros hendrerit, ac maximus ex aliquam. Pellentesque pellentesque justo nisi, in pharetra arcu mattis ac. Donec pulvinar venenatis accumsan.

Pellentesque ut lobortis lacus, eget sollicitudin nisi. Donec a odio ac metus gravida feugiat eu eget diam. Maecenas commodo mi non magna condimentum, quis bibendum lacus pharetra. Aliquam erat volutpat. Nulla sit amet ligula nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer commodo dapibus diam viverra semper. Vivamus id nunc vel risus fermentum ultrices sagittis at augue. Donec eget elementum nunc. Nam fermentum ligula ac lectus ornare tincidunt.

Nullam sed imperdiet neque. Proin pulvinar, tellus in volutpat egestas, libero ante pellentesque erat, eu elementum ipsum risus in velit. Fusce sed nulla quis ligula dapibus tristique vel eget mauris. Fusce vehicula ac tortor sed accumsan. Duis fermentum tincidunt libero eget suscipit. Duis iaculis lacinia justo. Proin in condimentum nibh. Integer viverra sed diam id posuere. Aenean gravida sit amet est et finibus. Vestibulum maximus molestie mauris eget pellentesque. Proin aliquet lectus aliquam aliquet ullamcorper.

Donec egestas massa vitae lectus euismod, eget dictum tellus sodales. Cras ornare sagittis congue. Vestibulum sed consequat tortor. Aenean malesuada, nibh eu fermentum commodo, neque odio volutpat ipsum, sit amet fringilla ipsum nunc a magna. Cras mollis arcu non imperdiet suscipit. Aenean semper varius eros, sed facilisis lorem aliquam sit amet. Praesent finibus mauris in erat consequat, ut tempus purus eleifend. Praesent accumsan odio quis ullamcorper commodo.

Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin aliquet ligula nec sapien interdum rhoncus. Phasellus vitae tincidunt tortor. Nunc bibendum, augue eu elementum cursus, urna justo commodo justo, nec consectetur libero nulla sit amet turpis. Aenean feugiat vehicula felis vel iaculis. Donec non suscipit lectus, ac placerat neque. Cras scelerisque leo vitae facilisis blandit. Nullam consectetur posuere placerat. Sed auctor in ligula ac placerat. Mauris ornare faucibus turpis, sit amet eleifend purus ultrices ac. Nunc non congue mauris. Praesent gravida enim sed ornare pulvinar. Fusce interdum a turpis sit amet mollis. Quisque a massa eu turpis iaculis dignissim vehicula vel magna. Nullam lorem dolor, lobortis eget sodales id, fringilla vitae odio.</p>
  </section>
  

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
