<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="0">
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-main-collapse">
        Menu
        <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" href="#page-top">
          <i class="fa fa-play-circle">
          </i>
          <span class="light">Kratos</span>
        </a>
      </div>
      <!--Collect links, forms, and content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li>
            <a class="page-scroll" href="#trainer">Coaches &amp; Trainers</a>
          </li>
          <li>
            <a class="page-scroll" href="#about">About</a>
          </li>
          <li>
            <a class="page-scroll" href="#program">Programs</a>
          </li>
          <li>
            <a class="page-scroll" href="#membership">Membership</a>
          </li>
          <li>
            <a class="page-scroll" href="#store">Store</a>
          </li>
          <li>
            <a class="page-scroll" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
      <!--navbar collapse -->
    </div>
    <!-- container -->
  </nav>
  

  <!-- header -->
  <header class="intro" id="intro" data-speed="6" data-type="background">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="brand-box">
            <div class="col-md-8 col-md-offset-2">
              <h1 class="brand-heading">Kratos</h1>
              <p class="intro-text">Start Here</p>
              <a class="btn btn-circle page-scroll" href="#about">
                <i class="fa fa-angle-double-down animated" id="nav-circle"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- end of header -->

<!-- beginning of trainer section -->
  <section id="trainer" data-speed="4" data-type="background" class="content-section light-paragraph">
    <center><h2 class="trainer-title">Trainers</h2></center>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
        <div class="cody-pic"></div>
            <p class="trainer-cody">
                Cody Anthony (Co-Owner, Strength Coach)- Cody graduated from the University of Nebraska-Kearney with a BS in Exercise Science. While at Kearney, Cody played football for the Lopers, where he was the starting fullback, and three time Academic All-Conference. After graduating from UNK Cody volunteered as a strength coach for UNK's athletic programs. After a summer at UNK, Cody moved to Lincoln to volunteer as a strength coach for the University of Nebraska's Men's Basketball team. Cody holds his CSCS through the National Strength & Conditioning Association, as well as his USAW-L1SP through USA Weightlifting. During Cody's 3 years of working with collegiate athletes, he has worked with football, basketball, swimming/diving, volleyball, and wrestling. Cody has been married for 2 years to his wife Katie, and has beautiful, twin, 18 month old daughters (Skylar and Kenley.)
            </p>
        </div>
        <div class="col-sm-4">
        <div class="david-pic"></div>
            <p class="trainer-david">
                David Schwartz (Co-Owner, Strength and conditioning coach)- David graduated from the University of Nebraska with a BS in Exercise, nutrition, and health sciences. While at UNL, David worked for three years as an intern-assistant strength coach for the men’s basketball team. After graduation in 2014, David was hired as the Head Men’s basketball strength and conditioning coach at Doane College for two seasons, and also interned with the Nebraska football team in the summer of 2015. David holds his CSCS through the NSCA, and is an ACE certified personal trainer. In total, David has seven years of personal training and strength coaching experience. He has trained clients of all ages and ability levels with different goals as well as athletes in basketball, football, volleyball, baseball, hockey, track, soccer, golf, swimming, wrestling, and tennis.
            </p>
        </div>
        <div class="col-sm-4">
        <div class="nick-pic"></div>
            <p class="trainer-david">
                Nick Reimers – Nick graduated with a Bachelor’s degree in Nutritional Sciences and Master’s degree in Nutrition and Exercise Physiology from the University of Nebraska-Lincoln. While earning his MS, Nick worked as a graduate teaching assistant, and upon graduation became a lecturer on exercise and health behavior for UNL. Nick is a Certified Strength and Conditioning Specialist through the National Strength and Conditioning Association. He has more than 6 years working with youth, general population, clinical populations, and post-rehabilitation to help individuals achieve better health, higher fitness, and higher performance. In his spare time, Nick enjoys spending time with his wife, Jerica, family, and playing recreational sports.
            </p>
        </div>
      </div>
 </div>
</section>

<!-- beginning of about section -->

<section id="about" data-speed="4" data-type="background" class="content-section text-center light-section js--section-about">
  <div class="container">
      <div class="row">
        <div class="twelve columns
         about-us">
        <div class="about js--about">
            <h3 class="about-title">Who We Are</h3>
            <p>
              Kratos defined- is the personification of strength and power in Greek mythology. That is our roots here at Kratos, we have an "Old School" mentality of training combined with the newest research to deliver a top-notch product. Our staff has over 10 years of combined collegiate strength and conditioning experience under some of the best coaches around the country. We also have our very own registered dietitian, who will educate clients based on their personal needs. Kratos works with everybody who wants to better themselves; whether that be the next star collegiate athlete, one of Lincoln's real hero's (Military, Police, Firefighters, EMT's), or somebody who wants to shed a few pounds.
            </p>
        </div>    
        <div>
      </div>
  </div>
</section>

<!-- beginning of programs section -->
<section id="program" class="content-section js--section-nutrition text-center light-paragraph">
  <div class="container">
  <center><h2>Programs</h2></center>
    <center><h3 class="programs-title js--programs-title-nutrition">Nutrition</h4></center>
      <div class="row">
        <div class="twelve columns js--nutrition-col">
            <p class="nutrition-paragraph">
                Clients can get a personalized meal plan based around their specific needs, demands, and personal goals. Meal plans are constructed using a whole food approach with appropriate supplements as needed. The Kratos nutrition program is founded on current research and personal experience. Members will also benefit from regular handouts regarding trending topics and information. Contact our dietitian/strength & conditioning coach Jacob Mertens for questions or to book an appointment.
            </p>
        </div>
      </div>
      <center><h3 class="programs-title js--programs-title-wellness">Corporate Wellness</h4></center>
      <div class="row">
        <div class="twelve columns js--wellness-col">
            <p class="wellness-paragraph">
                Kratos works with businesses to identify specific health needs of employees by building a program around nutrition and exercise. Services include educational seminars, body measurements, fitness challenges, customized exercise programs and meal plans. Multiple studies have shown that businesses who offer wellness programs benefit from increased employee retention and productivity as well as decreased medical claim costs, insurance premiums, and absenteeism. Business wellness programs have been shown to have over a $2.50 return on investment and a decrease in $6 in health care savings for every dollar spent.
            </p>
        </div>
      </div>
      <center><h3 class="programs-title js--programs-title-performance">Sports Performance</h4></center>
      <div class="row">
        <div class="twelve columns js--performance-col">
            <p class="performance-paragraph">
               Kratos’ Certified Strength and Conditioning Specialists work with youth from age 5 up to adults training for their next competition. Our philosophy is based around increasing strength, power, mobility, and decreasing the risk of injury. This is achieved by focusing on form and technique before intensity. Exercise programs start with a base foundation for youth and increase in specificity as the athlete develops. Sports performance programs can be done through our group or personal training.
            </p>
            <p class="performance-paragraph"><div class="trigger-for-color"></div>
                
            </p>
        </div>
      </div>
  </div>
</section>


<div class="section-facilities js--section-facilities">
  <div class="facilities">
    <!-- <h2>Amenities</h2>
      <p class="paragraph-facilities">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
  </div>
  <div class="facilities-2">
    <h2>Cardio Equipment</h2>
      <p class="paragraph-facilities">Trueform Treadmill, Row Machine, Elliptical, and Spin Bike</p>
  </div>
  <div class="facilities-3">
    <h2>Glute Ham</h2>
      <!-- p class="paragraph-facilities">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam.</p> -->
  </div>
  <div class="facilities-4">
    <h2>Free Weights</h2>
      <p class="paragraph-facilities">Dumbells 5 - 127</p>
  </div>
  <div class="facilities-5">
    <h2>Seven Barbell Racks</h2>
      <!-- <p class="paragraph-facilities">Dumbells 5 - 127</p> -->
  </div>
</div>
</body>

