<html>
	<body>
		<section class="new-intro">
			<div class="new-inner">
				<div class="content">
					<h1>Animate Easy</h1>
					<button class="btn btn-default">Get Started</button>
				</div>
			</div>
		</section>
	</body>
</html>