<div clas="side-bar-container">
	<div id="sidebar">
		<div class="slide-nav mobile-slide-nav">
			<ul class="sidebar-list">
				<li><a href="#">Coaches &amp; Trainers</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Memberships</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
			<div id="sidebar-btn">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</div>

	
</body>
