<table>
  <tr>
    <th colspan="3">Monthly Pricing</th
  </tr>
  <tr>
    <td>With Personal Training</td>
    <td>Without Personal Training</td>
    <td>Military, Firefighters, and Law Enforcement</td>
  </tr>
  <tr>
    <td>$35</td>
    <td>$50</td>
    <td>$30</td>
  </tr>
</table>