<body id="form-body">
	<div class="container">
		<%= simple_form_for @article, html: { multipart: true }  do |f| %>

		  <%= f.input :title, placeholder: 'Title of Post' %>

		  <%= f.text_area :body, placeholder: 'Post content', class: "col-xs-12 article-text-input" %>

		  <%= f.button :submit %>
		<% end %>
	</div>
</body>   


