<html>
<%= render 'shared/alt-header' %>
<div class="container">
	<div class="row">
		<div class="col-md-12">
				<div id="my-posts">
			  	<%= render @articles %>
				</div>

				<div id="infinite-scrolling" class="center-loading">
			  	<%= will_paginate %>
				</div>
			</div>
		</div>
	</div>
</html>