<div class="six columns">
      <i class="ion-ios-americanfootball icon-big ben-icon"></i>
        <div class="ben-chunk">
          <h5>LOREM IPSUM DOLOR SIT</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices   tellus.
            </p>
        </div>
        <i class="ion-ios-pulse icon-big ben-icon"></i>
         <div class="ben-chunk">
          <h5>PROIN ALIQUAM FACILISIS</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices   tellus.
            </p>
        </div>
        <i class="ion-ios-bookmarks icon-big ben-icon"></i>
        <div class="ben-chunk">
          <h5>VESTIBULUM NEC NIBH AT</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices   tellus.
            </p>
        </div>
      </div>
      <div class="six columns">
      <i class="ion-ios-body icon-big ben-icon"></i>
        <div class="ben-chunk">
          <h5>CONDIMENTUM IMPERDIET</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices   tellus.
            </p>
        </div>
        <i class="ion-ios-bookmarks icon-big ben-icon"></i>
         <div class="ben-chunk">
          <h5>PROIN EGET ODIO EGET TURPIS</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices   tellus.
            </p>
        </div>
        <i class="ion-ios-time icon-big ben-icon"></i>
        <div class="ben-chunk">
          <h5>AENEAN EGET EX AT TURPIS</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices   tellus.
            </p>
        </div>
      </div>
    </div>
  </div>