<%= link_to 'See Group Packages', asset_path('group-sheet.pdf'), class: 'group-pricing-sheet' %><br><br>


<section class="section-packages js--section-packages">
  <div class="container">
  <h2>Personal Training</h2>
    <div class="centering">
      <i class="fa fa-user" aria-hidden="true"></i>
    </div>
  <div class="centering personal-packages">
    <button class="button packages-button" value="toggle" id="toggle">View Training Packages</button>
  </div>
  <div class="expand">
      <div class="row">
        <div class="six columns">
            <table class="pricing-table make-it-slow">
              <thead>
              <th class="package-header" colspan="2">Packages</th>
                <tr>
                  <th>Number of sessions</th>
                  <th>Price per session</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>$75.00</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>$62.50</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>$60.00</td>
                </tr>
                <tr>
                  <td>25</td>
                  <td>$55.00</td>
                </tr>
                <tr>
                  <td>50</td>
                  <td>$50.00</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="six columns">
            <table class="pricing-table make-it-slow">
              <thead>
              <th class="package-header" colspan="2">EFT</th>
                <tr>
                  <th>Sessions per week</th>
                  <th>Price per session</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>$60.00</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>$57.50</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>$55.00</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>$52.50</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>$50.00</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      <div class="row">
        <div class="six columns">
            <table class="pricing-table make-it-slow">
              <thead>
              <th class="package-header" colspan="2">Packages</th>
              </thead>
                <tr>
                  <th>Number of sessions</th>
                  <th>Price per session</th>
                </tr>
              
              <tbody>
                <tr>
                  <td>1</td>
                  <td>$50.00</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>$37.50</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>$35.00</td>
                </tr>
                <tr>
                  <td>25</td>
                  <td>$32.50</td>
                </tr>
                <tr>
                  <td>50</td>
                  <td>$30.00</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="six columns">
            <table class="pricing-table make-it-slow">
              <thead>
              <th class="package-header" colspan="2">EFT</th>
                <tr>
                  <th>Sessions per week</th>
                  <th>Price per session</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>$37.50</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>$35.00</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>$32.50</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>$30.00</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>$27.50</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>

  </div>
</section>