<section class="section-testimonials js--section-testimonials">
  <div class="container">
    <center><h2>Testimonials</h2></center>
      <div class="row">
        <div class="four columns">
            <blockquote>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices tellus. Proin sit amet aliquet orci, in scelerisque risus. Aenean placerat bibendum ex quis pharetra. Aliquam erat volutpat. Mauris tempor ex sed eleifend ultricies. Proin gravida mauris quis odio porttitor, et vulputate lorem pulvinar. Nam sed tortor felis. Cras sit amet scelerisque tellus.
            </blockquote>
            <cite>- Mike F</cite>
        </div>
        <div class="four columns">
            <blockquote>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices tellus. Proin sit amet aliquet orci, in scelerisque risus. Aenean placerat bibendum ex quis pharetra. Aliquam erat volutpat. Mauris tempor ex sed eleifend ultricies. Proin gravida mauris quis odio porttitor, et vulputate lorem pulvinar. Nam sed tortor felis. Cras sit amet scelerisque tellus.
            </blockquote>
            <cite>- Rob Riches</cite>
        </div>
        <div class="four columns">
            <blockquote>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices   tellus. Proin sit amet aliquet orci, in scelerisque risus. Aenean placerat bibendum ex quis pharetra. Aliquam erat volutpat. Mauris tempor ex sed eleifend ultricies. Proin gravida mauris quis odio porttitor, et vulputate lorem pulvinar. Nam sed tortor felis. Cras sit amet scelerisque tellus.
            </blockquote>
            <cite>- Greg Plitt</cite>
        <div>
      </div>
  </div>
</section>