<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-main-collapse">
        
        <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#page-top">
          <i class="fa fa-play-circle"></i> <span class="light">Kratos</span> PF
        </a>
      </div>
      <!--Collect links, forms, and content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav navy">
          <li>
            <%=link_to 'Home', root_path %>
          </li>
            <% if user_signed_in? %>
          <li><%=link_to 'Logout', destroy_user_session_path, method: "delete" %></li>
          <li><%=link_to"#{truncate(current_user.email, length: 10)}", root_path %></li>
            <% else %>
          <li><%=link_to 'Login', new_user_session_path %></li>
            <% end %>
          </li>
        </ul>
      </div>
      <!--navbar collapse -->
    </div>
</nav>
