 <header class="header-2">
    <nav>
      <div class="container">
          <ul class="alt-main-nav js--alt-main-nav">
              <li><%=link_to 'About', about_path, :class => "js--scroll-to-author" %></a></li>
              <li><a href="#programs" class="js--scroll-to-contact">Programs</a></li>
              <li><a href="#nutrition" class="js--scroll-to-main-nav">Nutrition</a></li>
              <li><a href="#coaches" class="js--scroll-to-fan-pics">Coaches &amp; Trainers</a></li>
              <li><a href="#contact" class="js--scroll-to-book">Contact</a></li>
          </ul>
          <a class="mobile-nav-icon js--alt-nav-icon"><i class="ion-navicon"></i></a>
      </div>
    </nav>
  </header>
