<footer class="index-footer js--footer">
    <div class="container">
      <div class="row bottom-footer">
        <center>
        <h4 class="follow-us-header">Follow Us</h4>
        <div class="social-links">
          <a href="https://twitter.com/Kratos_LNK" target="_blank"><i class="ion-social-twitter social-icons"></i></a>
          <a href="https://www.facebook.com/kratospf" target="_blank"><i class="ion-social-facebook social-icons"></i></a>
          <!-- <a href="#"><i class="ion-social-googleplus social-icons"></i></a> -->
          <a href="https://www.instagram.com/kratos_pf/" target="_blank"><i class="ion-social-instagram social-icons"></i></a>
          <!-- <a href="#"><i class="ion-social-youtube social-icons"></i></a> -->
        </div>
        </center>
      </div>
      <div class="row">
        <ul class=footer-list>
          <li class="footer-paragraph">Kratos Performance and Fitness</li>
          <li class="footer-paragraph">8410 Executive Woods Drive, Suite B</li>
          <li class="footer-paragraph">Lincoln, NE 68512</li>
          <li class="footer-paragraph">Kratos &copy; <%=Time.now.year %></li>
            <p class="footer-phone">402-413-8590</p>
          <p><%= link_to 'Privacy Policy', asset_path('privacy-policy.pdf'), class: "footer-policy" %></p>  
        </ul>
      </div>
    </div>  
  </div>
</footer>