<footer class="index-footer">
  
    <div class="container">
      <div class="row bottom-footer">
        <center>
        <h4 class="follow-us-header">Follow Us</h4>
        <div class="social-links">
          <a href="#"><i class="ion-social-twitter social-icons"></i></a>
          <a href="#"><i class="ion-social-facebook social-icons"></i></a>
          <a href="#"><i class="ion-social-googleplus social-icons"></i></a>
          <a href=""><i class="ion-social-instagram social-icons"></i></a>
          <a href="#"><i class="ion-social-youtube social-icons"></i></a>
        </div>
        </center>
      </div>
      <div class="row">
        <ul class=footer-list>
          <li class="footer-paragraph">Kratos Performance and Fitness</li>
          <li class="footer-paragraph">8410 Executive Woods Drive, Suite E</li>
          <li class="footer-paragraph">Lincoln, NE 68512</li>
          <li class="footer-paragraph">Kratos &copy; <%=Time.now.year %></li>
            <p class="footer-phone">308-760-2134</p>
        </ul>
      </div>
    </div>  
  </div>
</footer>