<footer class="index-footer">
  <div class="container">
    <div class="row top-footer">
      <div class="three columns footer-col"><h5>About</h5>
        
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices tellus.</p>
      
      </div>
      <div class="three columns footer-col"><h5>Programs</h5>
        
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices tellu</p>
          
      </div>
      <div class="three columns footer-col"><h5>Nutrition</h5>
        
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices tellu</p>
        
      </div>
      <div class="three columns footer-col"><h5>Coaching</h5>
        
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet nisl id venenatis aliquam. Phasellus ullamcorper eget enim vel aliquam. Integer vel tincidunt risus, sed ultrices tellu</p>
        
      </div>
    </div>
    <div class="line-break"></div>
    <div class="container">
      <div class="row bottom-footer">
        <center>
        <h4>Follow Us</h4>
        <div class="social-links">
          <a href="#"><i class="ion-social-twitter social-icons"></i></a>
          <a href="#"><i class="ion-social-facebook social-icons"></i></a>
          <a href="#"><i class="ion-social-googleplus social-icons"></i></a>
          <a href=""><i class="ion-social-instagram social-icons"></i></a>
          <a href="#"><i class="ion-social-youtube social-icons"></i></a>
        </div>
        </center>
      </div>
      <div class="row">
        <p class="footer-company-name">Kratos &copy; <%=Time.now.year %></p>
      </div>
    </div>  
  </div>
</footer>