 <header class="header-1">
    <nav>
      <div class="container">
          <ul class="main-nav js--main-nav">
              <li><%=link_to 'About', about_path, :class => "#" %></a></li>
              <li><a href="#programs" class="js--scroll-to-contact">Programs</a></li>
              <li><a href="#nutrition" class="js--scroll-to-main-nav">Nutrition</a></li>
              <li><a href="#coaches" class="js--scroll-to-fan-pics">Coaches &amp; Trainers</a></li>
              <li><a href="#contact" class="js--scroll-to-book">Contact</a></li>
          </ul>
          <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon"></i></a>
      </div>
    </nav>
    <div class="container">
    <center>
      <h1 class="js--main-title">Kratos</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <a class="button button-primary sign-up js--sign-up" href="#">Sign Up</a>
    </div>
    </center>
    <div class="row">
      <div class="centering">
        <a href="#"><i class="fa fa-arrow-circle-o-down fa-4x header-arrow js--arrow"></i></a>
      </div>
    </div>
  </header>
