<!-- Modal -->
<div id="codyModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Cody Anthony</h4>
      </div>
      <div class="modal-body">
        <p>
        Cody Anthony (Co-Owner, Strength Coach)- Cody graduated from the University of Nebraska-Kearney with a BS in Exercise Science. While at Kearney, Cody played football for the Lopers, where he was the starting fullback, and three time Academic All-Conference. After graduating from UNK Cody volunteered as a strength coach for UNK's athletic programs. After a summer at UNK, Cody moved to Lincoln to volunteer as a strength coach for the University of Nebraska's Men's Basketball team. Cody holds his CSCS through the National Strength & Conditioning Association, as well as his USAW-L1SP through USA Weightlifting. During Cody's 3 years of working with collegiate athletes, he has worked with football, basketball, swimming/diving, volleyball, and wrestling. Cody has been married for 2 years to his wife Katie, and has beautiful, twin, 18 month old daughters (Skylar and Kenley.)
      </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>