<!-- Modal -->
<div id="daltonModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Dalton Barnard</h4>
      </div>
      <div class="modal-body">
        <p>
        <%= image_tag("dalton3.jpg", class: "img-responsive team-img") %>
        Dalton Barnard (Strength and Conditioning Coach) – Dalton graduated from the University of
        Nebraska-Lincoln with BS degrees in Exercise, Nutrition and Health Sciences as well as Dietetics.
        He is currently pursuing his MS in Exercise Physiology &amp; Nutrition from UNL. During his
        undergraduate studies, Dalton began personal training and has worked with clients of all ages
        and abilities. Dalton also interned with Creighton’s Athletic Performance staff during the 2016-
        2017 academic year and helped lead Platteview High School’s 2017 summer strength and
        conditioning program. He currently holds his CSCS through the NSCA, his USAW-L1SP through
        USA Weightlifting, and is an ACSM Certified Personal Trainer. All-in- all, Dalton has worked with
        soccer, baseball/softball, basketball, football, volleyball, tennis, golf, and rowing athletes. A
        few of Dalton’s hobbies include spending time with his wife, Katie, and family, as well as playing
        soccer, golf, and snowboarding.
      </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>