<!-- Modal -->
<div id="davidModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">David Schwartz</h4>
      </div>
      <div class="modal-body">
        <p>
        <%= image_tag("davidkratos-opted.jpg", class: "img-responsive david-modal-img") %>
        David Schwartz (Co-Owner, Strength and conditioning coach)- David graduated from the University of Nebraska with a BS in Exercise, nutrition, and health sciences. While at UNL, David worked for three years as an intern-assistant strength coach for the men’s basketball team. After graduation in 2014, David was hired as the Head Men’s basketball strength and conditioning coach at Doane College for two seasons, and also interned with the Nebraska football team in the summer of 2015. David holds his CSCS through the NSCA, and is an ACE certified personal trainer. In total, David has seven years of personal training and strength coaching experience. He has trained clients of all ages and ability levels with different goals as well as athletes in basketball, football, volleyball, baseball, hockey, track, soccer, golf, swimming, wrestling, and tennis.
      </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>