<!-- Modal -->
<div id="greysonModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Greyson McDaniel</h4>
      </div>
      <div class="modal-body">
        <p>
        <%= image_tag("greyson2.jpg", class: "img-responsive greyson-modal-img") %>
        Greyson graduated from the University of Nebraska-Lincoln in December 2016 with a BS degree in Nutrition, Exercise and Health Science with an Athletic Coaching minor. During his undergraduate degree, Greyson began his coaching career at the University of Nebraska-Lincoln Campus Recreation doing personal training for 2 years before his first strength and conditioning internship at Florida Atlantic University during the Summer of 2012 where he worked with football, basketball, and baseball athletes. Greyson returned to Lincoln and immediately began working with all facets of strength & conditioning for all Olympic sports at the University of Nebraska-Lincoln, but primarily with baseball, softball, and track & field. During the Summer of 2014, Greyson took the opportunity to complete another internship at the University of Missouri working with football, baseball, and track & field athletes. After working at the University of Nebraska-Lincoln for 4.5 years, Greyson graduated from the university and was given the opportunity to continue his coaching career with the San Diego Padres professional baseball organization during the 2017 season. Greyson is a certified strength conditioning specialist through the NSCA, as well as a USAW-Level 1 Sports Performance Coach. Greyson is also an ACE certified Personal Trainer, as well as holding certifications with the Postural Restoration Institute - Myokinematic Restoration and being Adult CPR/First Aid/AED certified.Greyson was born in California but was raised in small town Sidney, NE. He resides here in Lincoln NE with his fiancé Anmerie. He continually competes in powerlifting competitions.
      </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>