<!-- Modal -->
<div id="nickModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Nicke Reimers</h4>
      </div>
      <div class="modal-body">
        <p>
        Nick Reimers – Nick graduated with a Bachelor’s degree in Nutritional Sciences and Master’s degree in Nutrition and Exercise Physiology from the University of Nebraska-Lincoln. While earning his MS, Nick worked as a graduate teaching assistant, and upon graduation became a lecturer on exercise and health behavior for UNL. Nick is a Certified Strength and Conditioning Specialist through the National Strength and Conditioning Association.He has more than 6 years working with youth, general population, clinical populations, and post-rehabilitation to help individuals achieve better health, higher fitness, and higher performance. In his spare time, Nick enjoys spending time with his wife, Jerica, family, and playing recreational sports.
      </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>