
.article-text-input {
	margin-bottom: 10px;
}

.article-container {
	margin-bottom: 20px;
	margin-top: 70px;
	padding: 30px;
	background-color: #EAEAEA;
	border-radius: 8px;
}


.page-header.articles-header {
	text-align: center;
}

.center-loading {
	text-align: center;
}