.article-text-input {
	margin-bottom: 10px;
}

.article-container {
	margin-bottom: 20px;
	margin-top: 70px;
	padding: 30px;
	background-color: #EAEAEA;
	border-radius: 8px;
}

.article-img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}



.page-header.articles-header {
	text-align: center;
}

.center-loading {
	text-align: center;
}

.article-page-header {
	background-color: #333333;
	padding-top: 10px;
	margin-bottom: 60px;
	color: #fff;
}

.index-article-container {
	margin-bottom: 45px;
}

.index-article-image {
	margin-bottom: 20px;
}

.index-article-title a {
	color: #B01116;
}

.page-header.index-article-header {
	margin-top: 20%;
}

.button-container {
	text-align: center;
}

#my-posts {
	margin-top: 25%;
}