/* 

BASE COLOR - #222
BLACK SHADE FOR BACKGROUNDS - #121416 / CONTENT SHADE - WHITE
WHITE SHADE FOR BACKGROUNDS - #e5e5e5 / CONTENT SHADE - #666
CURRENT RED BASE COLOR(subject to change) - #d00000;
TEXT COLOR FOR WHITE BACKGROUND #666
*/


/*.columns {
	border: 1px solid green;
}*/

/*.container {
  border: 1p solid red;
}*/

/*div {
  border: 1px solid green;
}*/


/*.row {
  border: 1px solid green;
}*/

section {
  padding-top: 60px;
  padding-bottom: 50px;
}

/* Links */

a {
  color: #d00000;
}

/* class for centering small things like buttons */
.centering {
  text-align: center;
}


/* Icons */

.icon-big {
  font-size: 350%;
  display: block;
  margin-bottom: 10px;
}

.fa fa-arrow-circle-o-down {
  margin-top: 500px;
  color: #d00000;
}

.fa-4x:hover {
  font-size: 4.5em;
}

.header-arrow {
  margin-top: 400px;
}

/* Headings */

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    text-transform: uppercase;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #d00000;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 50px;
}

h5 {
  color: #d00000;
  text-transform: uppercase;
}

/* Header shit */

.header-1 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), image-url('kratosbarbell.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), image-url('kratosbarbell.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    color: #fff;
    margin: 0;
}

.main-title {
  font-weight: 600;
}


/*#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}*/

/* Nav */

.main-nav {
	list-style: none;
	float: right;
	margin-top: 30px;
  margin-bottom: 4.5rem;
  margin-left: 20px;
}

.main-nav li {
	display: inline-block;
	margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
	color: #d00000;
	border-bottom: 2px solid #d00000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 115%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

/* Mobile navi */
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #d00000;
}


/*alt main nav */

.alt-main-nav {
  list-style: none;
  float: right;
  margin-bottom: 4.5rem;
  
}

.alt-main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.alt-main-nav li a:link,
.alt-main-nav li a:visited {
  color: #d00000;
  border-bottom: 2px solid #d00000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 115%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

/* Sticky Nav */

.sticky {
    position: fixed;
    height: 70px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ededed; /* Try darker version => #e5e5e5 */
    box-shadow: 0 2px 2px #666;
    z-index: 9999;
    color: #222;
}

.sticky .main-nav { margin-top: 25px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 5px 0;
    color: #666;
}

/* About */

.section-about {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), image-url('barbell2.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), image-url('barbell2.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #fff;
  margin: 0;
}

.about {
  padding-top: 100px;
}

/* Services Section */

.section-services {
  background-color: #e5e5e5;
  color: #666;
}

.about-us {
  float: right;
}

/* Testimonials Section */

.section-testimonials {
  background-color: #e5e5e5;
  color: #666;
  padding-top: 80px;
  padding-bottom: 50px;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
    color: #d00000;
}

.consult-button {
  margin-top: 40px;
}

/* Trainers */

.section-trainers {
  background-color: #121416;
  color: #fff;
}

.trainer-image {
  vertical-align: middle;
  width: 100%;
  height: 220px;
}


/* Facilities */

.facilities.slick-slide {
  background-color: #e5e5e5;
  color: #fff;
  padding-top: 80px;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), image-url('gym4.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), image-url('gym4.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
}

.facilities-2.slick-slide {
  background-color: #e5e5e5;
  color: #fff;
  padding-top: 80px;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), image-url('gym5.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), image-url('gym5.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
}

.facilities-3.slick-slide {
  background-color: #e5e5e5;
  color: #fff;
  padding-top: 80px;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), image-url('gym6.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), image-url('gym6.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
}

.facilities-4.slick-slide {
  background-color: #e5e5e5;
  color: #fff;
  padding-top: 80px;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), image-url('gym7.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), image-url('gym7.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
}

.paragraph-facilities {
  text-align: center;
}

/* Footer */

footer {
  background-color: #e5e5e5;
  color: #666;
}

.social-links {
  word-spacing: 4px;
}

.social-icons {
  font-size: 200%;
}

.index-footer {
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: #121416;
  color: #fff; 
}

.line-break {
  border: 1px solid #d00000;
}

.top-footer {
  margin-bottom: 30px;
}

.bottom-footer {
  margin-top: 30px;
}

/*.footer-list {
  list-style: none;
}
*/
.footer-col p {
  text-align: left;
}

.footer-paragraph {
  
}

.footer-list {
  list-style: none;
  text-align: center;
  margin-top: 10px;
}


/* social footer */



/* social media colors */

.ion-social-twitter {
  color: #00aced;
}
.ion-social-twitter:hover {
  color: #006e98;
}

.ion-social-facebook {
  color: #3b5998;
}
.ion-social-facebook:hover {
  color: #283c67;
}

.ion-social-googleplus {
  color: #dd4b39;
}
.ion-social-googleplus:hover {
  color: #b32f1f;
}

.ion-social-instagram {
  color: #517fa4;
}
.ion-social-instagram:hover {
  color: #3b5c77;
}

.ion-social-youtube {
  color: #bb0000;
}
.ion-social-youtube:hover {
  color: #700;
}

/* Static About Page */


.about-page {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), image-url('gym10.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), image-url('gym10.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    margin: 0;
}

/* Benefits Section */

.section-benefits {
  background-color: #efefef;
  color: #666;
}

.ben-icon {
  float: left;
  margin-right: 25px;
  clear: both;
}

.ben-chunk {
  margin-left: 0px;
  margin-top: 15px;
  overflow:auto;
  display:block;
}

