/* 

BASE COLOR - #222
BLACK SHADE FOR BACKGROUNDS - #121416
WHITE SHADE FOR BACKGROUNDS - #e5e5e5
CURRENT RED BASE COLOR(subject to change) - #db2c1a
*/

.column {
	border: 1px solid #fff;
}

.container {
  border: 1p solid red;
}

/*.row {
	border: 1px solid green;
}*/

/* Icons */

.icon-big {
  font-size: 350%;
  display: block;
  margin-bottom: 10px;
}

/* Headings */

/* headings */

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #db2c1a;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 10px;
}

/* Header shit */

header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), image-url('barbell3.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), image-url('barbell3.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    color: #fff;
    margin: 0;
}

/*#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}*/


/* Nav */

.main-nav {
	list-style: none;
	float: right;
	margin-top: 55px;
	word-spacing: 3px;
}

.main-nav li {
	display: inline-block;
	margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
	color: #db2c1a;
	border-bottom: 2px solid #db2c1a;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

/* Mobile navi */
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: black;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #c0392b;
}

/* Sticky Nav */

.sticky {
    position: fixed;
    height: 70px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
    color: #222;
}

.sticky .main-nav { margin-top: 18px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0;
    color: #121416;
}


/* Services Section */

.section-services {
  background-color: #121416;
  color: #fff;
  padding-top: 80px;
  padding-bottom: 50px;
}

/* Testimonials Section */

