/* 

BASE COLOR - #222
BLACK SHADE FOR BACKGROUNDS - #121416 / CONTENT SHADE - WHITE
WHITE SHADE FOR BACKGROUNDS - #e5e5e5 / CONTENT SHADE - #666
CURRENT RED BASE COLOR(subject to change) - #af111c;
TEXT COLOR FOR WHITE BACKGROUND #666
*/


/*.columns {
	border: 1px solid green;
}*/

/*.container {
  border: 1p solid red;
}*/

/*div {
  border: 1px solid green;
}*/


/*.row {
  border: 1px solid green;
}*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  height: 100%;
}

img {
  height: 200px;
}

body {
  height: 100%;
}

section {
  padding-top: 60px;
  padding-bottom: 50px;
}

/* Links */

a {
  color: #af111c;
}

.learn-more {
  font-weight: 700;
  text-decoration: none;
}

/* class for centering small things like buttons */
.centering {
  text-align: center;
}


/* Icons */

.icon-big {
  font-size: 350%;
  display: block;
  margin-bottom: 10px;
}

.ion-ios-nutrition {
  float: left;
}

.fa fa-arrow-circle-o-down {
  margin-top: 500px;
  color: #af111c;
}

.fa-4x:hover {
  font-size: 4.5em;
}

.header-arrow {
  margin-top: 100px;
}

/* Headings */

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    text-transform: uppercase;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #af111c;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 50px;
}

h5 {
  color: #af111c;
  text-transform: uppercase;
}

/* Header shit */

.header-1 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), image-url('kratos8.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), image-url('kratos8.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    color: #fff;
    margin: 0;
}


.main-title {
  font-weight: 600;
}

.title-center {
  text-align: center;
}


/* Nav */

.main-nav {
	list-style: none;
	float: right;
	margin-top: 30px;
  margin-bottom: 4.5rem;
}

.main-nav li {
	display: inline-block;
	margin-left: 40px;
  font-weight: 700;
}

.main-nav li a:link,
.main-nav li a:visited {
	color: #fff;
	border-bottom: 2px solid #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 115%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

/* Mobile navi */
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #fff;
}


/*alt main nav */

.alt-main-nav {
  list-style: none;
  float: right;
  margin-bottom: 4.5rem;
  
}

.alt-main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.alt-main-nav li a:link,
.alt-main-nav li a:visited {
  color: #af111c;
  border-bottom: 2px solid #af111c;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 115%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

/* Sticky Nav */

.sticky {
  position: fixed;
  height: 70px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ededed; /* Try darker version => #e5e5e5 */
  box-shadow: 0 2px 2px #666;
  z-index: 9999;
  color: #222;
}

.sticky .main-nav { margin-top: 25px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 5px 0;
    color: #666;
}

/* About */

.section-about {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), image-url('kratos2.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), image-url('kratos2.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #fff;
  margin: 0;
}

.about {
  padding-top: 180px;
}

/* Nutrition Section */

.diet-title {
  text-align: center;
}

.section-services {
  background-color: #121416;
  color: #fff;
}

/* Testimonials Section */

.section-testimonials {
  background-color: #e5e5e5;
  color: #666;
  padding-top: 80px;
  padding-bottom: 50px;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
    color: #af111c;
}

.consult-button {
  margin-top: 40px;
}

/* Trainers */

.section-trainers {
  background-color: #e5e5e5;
  color: #666;
  padding-bottom: 55px;
}

.trainer-row {
  margin-bottom: 15px;
}

/* adjust pic with height, center with margin 0 auto, then experiment works well */
.cody-pic {
  background-image: image-url('codykratos.jpg');
  background-size: cover;
  background-position: center;
  height: 430px;
  border-radius: 3px;
  margin: 0 auto;
  box-shadow: 0 15px 30px rgba(0,0,0,0.5);
}

.jacob-pic {
  background-image: image-url('jacobkratos2.jpg');
  background-size: cover;
  background-position: center;
  height: 430px;
  border-radius: 3px;
  margin: 0 auto;
  box-shadow: 0 15px 30px rgba(0,0,0,0.5);
}

.trainer-cody, .trainer-jacob {
  margin-top: 15px;
}

.trainer-centering {
  margin-top: 40px;
}


/* Facilities */

.facilities.slick-slide {
  background-color: #e5e5e5;
  color: #fff;
  padding-top: 80px;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), image-url('kratos4.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), image-url('kratos4.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
}

.facilities-2.slick-slide {
  background-color: #e5e5e5;
  color: #fff;
  padding-top: 80px;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), image-url('kratos1.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), image-url('kratos1.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
}

.facilities-3.slick-slide {
  background-color: #e5e5e5;
  color: #fff;
  padding-top: 80px;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), image-url('kratos7.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), image-url('kratos7.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
}


.paragraph-facilities {
  text-align: center;
}

/* Footer */

.follow-us-header {
  margin-bottom: initial;
}

footer {
  padding-top: 30px;
  background-color: #121416;
  color: #fff;
  height: 300px;
}

.social-links {
  word-spacing: 4px;
}

.social-icons {
  font-size: 200%;
}

.index-footer {

}

.line-break {
  border: 1px solid #af111c;
}



/*.footer-list {
  list-style: none;
}
*/
.footer-col p {
  text-align: left;
}

.footer-paragraph {
  
}

.footer-list {
  list-style: none;
  text-align: center;
  margin-top: 10px;
  line-height: initial;
}


/* pricing */

.section-packages {
  background-color: #e5e5e5;
  color: #666;
}

/* social media colors */

.ion-social-twitter {
  color: #00aced;
}
.ion-social-twitter:hover {
  color: #006e98;
}

.ion-social-facebook {
  color: #3b5998;
}
.ion-social-facebook:hover {
  color: #283c67;
}

.ion-social-googleplus {
  color: #dd4b39;
}
.ion-social-googleplus:hover {
  color: #b32f1f;
}

.ion-social-instagram {
  color: #517fa4;
}
.ion-social-instagram:hover {
  color: #3b5c77;
}

.ion-social-youtube {
  color: #bb0000;
}
.ion-social-youtube:hover {
  color: #700;
}

/* Static About Page */


.about-page {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), image-url('kratos2.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), image-url('kratos2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    margin: 0;
    height: 100vh;
}

/* Benefits Section */

.section-benefits {
  background-color: #efefef;
  color: #666;
}

.ben-icon {
  float: left;
  margin-right: 25px;
  clear: both;
}

.ben-chunk {
  margin-left: 0px;
  margin-top: 15px;
  overflow:auto;
  display:block;
}

/* packages section */

.package-header {
  background-color: #121416;
  text-align: center;
  color: #fff;
}

.make-it-slow {
  box-shadow: 0 15px 30px rgba(0,0,0,0.5);
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 10px;
}

.make-it-slow:hover {
  box-shadow: 0 30px 60px rgba(0,0,0,.9);
}

.fa.fa-users {
  font-size: 50px;
  margin-bottom: 35px;
  color: #fff;
}

table {
  border-collapse: collapse;
}

table, th, td, tr {
  border: 1px solid black;
}

.pricing-table td {
  text-align: center;
}

.pricing-table th {
  text-align: center;
}

.package-button {
  color: #121416;
  border-color: #121416;
}

.personal-packages {
  margin-bottom: 20px;
}

.expand {
  display: none;
}

button.packages-button {
  color: #666;
  border-color: #666;
}

.section-group-packages {
  color: #666;
  background-color: #121416;
}

.expand-group {
  display: none;
}

/* personal training */

.fa.fa-user {
  font-size: 50px;
  margin-bottom: 35px;
  color: #666;
}

/* set background to fff so I can see the tables */
.group-container {
  background-color: #e5e5e5;
  padding: 45px;
  display: none;
  width: 100%;
  border-radius: 6px;
}

.group-member-title {
  color: #fff;
}

table {
  table-layout: fixed;
}


/* logo */

.kratos-logo {
  height: 160px;
  margin-bottom: 50px;
}