@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    /*letter-spacing: 1px;*/
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .brand-heading {
    font-size: 80px;
  }

  .footer-list {
    margin-right: 5%;
  }
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 937px) {
    body { font-size: 16px; }
    p {
      text-align: center;
    }

    #about {
      text-align: center;
    }

    .dalton-img {
      width: 635px;
    }

    #trainer a {
      text-align: center;
      margin-bottom: 22px;
    }

    .content-section {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    #trainer-image {
      margin-top: 10%
    }

}

@media only screen and (max-width: 475px) {

    .kratos-logo {
      height: 160px;
      margin-bottom: 50px;
      margin-top: 125px;
      margin-left: 9%;
    }

    .dalton-img {
      width: 400px;
    }

    .footer-list {
      margin-right: 10%;
    }

    #trainer-image {
      margin-top: 10%
    }
}
