.side-bar-container {
	margin: 0px;
	padding: 0px;

}

#sidebar {
	background: #0a0c0d;
	width: 200px;
	height: 100%;
	display: block;
	position: absolute;
	left: -200px;
	top: 0px;
	color: white;
	transition: left 0.3s linear;
}

#sidebar.visible {
	left: 0px;
	transition: left 0.3s linear;
	position: fixed;
}

#push-container.slide {
	transition: width 0.3s linear;
}

.sidebar-list {
	margin-top: 65px;
	padding: 0px;
}

.sidebar-list li {
	list-style: none;
}

.sidebar-list li a {
	background: #1C1E1F;
	color: #ccc;
	border-bottom: 1px solid #111;
	display: block;
	width: 100%;
	padding: 10px;
	text-decoration: none;
}

#sidebar-btn {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 15px;
	cursor: pointer;
	margin: 20px;
	position: absolute;
	top: 0px;
	right: -60px;
}

#sidebar-btn span {
	height: 1px;
	background: #fff;
	margin-bottom: 5px;
	display: block;
}

#sidebar-btn span:nth-child(2) {
	width: 75%;
}

#sidebar-btn span:nth-child(3) {
	width: 50%;
}